.message_wrapper{
  width: 100%;
  margin-bottom: 10px;
  padding: 25px 0;
  box-shadow: inset 0 0 5px #a0b2f1;
  display: flex;
  position: relative;
  border-radius: 5px;
  align-items: center;
  flex-wrap: wrap;
  .user{
    width: 15%;
    text-align: center;
    color: #0D2D62;
    font-size: 18px;

  }
  .text{
    width: 85%;
    padding-right: 5%;
  }
  .control_wrapper{
    width: 50px;
    padding: 5px 0;
    position: absolute;
    font-size: 22px;
    margin-left: 95%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .form{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding-right: 3%;
    .textarea{
      width: 84%;
      outline: none;
      padding: 10px;
      font-size: 14px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #bdbdbd;
      &:focus{
        border: 1px solid #8ebce3;
      }
    }
    .but_wrap{
      width: 100%;
      display: flex;
      justify-content: end;
      button{
        cursor: pointer;
        border: none;
        padding: 6px 11px;
        font-size: 15px;
        color: white;
        border-radius: 5px;
      }
      .edit{
        background-color: #d98041;
        margin-left: 20px;
      }
      .cancel{
        background-color: #707070;
      }
    }
  }
}

