.profile{
    width: 100%;
    span{
        margin-left: 20%;
        display: block;
        content: '';
        margin-bottom: 20px;
        font-size: 16px;
    }
    h4{
        font-size: 18px;
        margin-bottom: 10px;
    }
}