.message_wrapper{
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 40px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  .user{
    width: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    img{
      width: 100%;
      max-height: 250px;
      object-fit: cover;
      border-radius: 50%;
    }
    .nick_name{
      content: '';
      display: block;
      width: 100%;
      text-align: center;
      margin: 10px 0
    }
    .author{
      content: '';
      display: none;
      width: 100%;
      text-align: center;
    }
  }
  .text{
    width: 81%;
    padding: 10px 20px;
  }
}

.author_message{
  background-color: #e3e1e1;
  .user{
    .author{
      display: block;
    }
  }
}

