.forms_wrapper{
  padding: 0 100px;
  .forms_title{
    width: 100%;
    padding: 50px 100px 30px 100px;
    h2{
      text-align: center;
    }
  }
  .forms{
    button{
      border: none;
      background-color: white;
      padding: 5px;
      font-size: 18px;
      color: #462d86;
      cursor: pointer;
    }
  }
}