.form_wrapper{
  width: 100%;
  padding: 0px 100px;
  display: flex;
  flex-wrap: wrap;
  .left_block{
    width: 65%;
    .title{
      width: 100%;
      padding: 15px 70px;
      font-size: 30px;
    }
    p{
      width: 100%;
      padding: 15px 30px 15px 70px;
      font-size: 16px;
      line-height: 2;
      .button_wrapper{
        content: '';
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
        button{
          background-color: #70C174;
          padding: 10px 18px;
          color: white;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .right_block{
    width: 35%;
    height: 500px;
    display: flex;
    align-items: center;
    img{
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}