.input_wrapper{
  width: 100%;
  margin-bottom: 20px;
  label{
    width: inherit;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgba(255,255,255,.7);
    display: block;
  }
  input{
    width: inherit;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    background: rgba(255,255,255,.15);
    color: #ffffff;
    font-size: 13px;
  }
  input:focus {
    outline: none;
    background: rgba(255,255,255,.3);
  }
}

.button{
  width: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 15px;
  background: #ee3751;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.but_disabled{
  background: rgb(145, 145, 145);
  color: #d5d5d5;
  cursor: not-allowed;
}