.form{
  width: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  textarea{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    transition: 300ms ease-in-out;
    &:focus{
      outline: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    }
  }
  button{
    background-color: #70C174;
    padding: 8px 30px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
}