.footer_wrapper{
  width: 100%;
  padding: 50px 100px;
  background-color: #f3f3f3;
  margin-top: 30px;
  ul{
    li {
      font-size: 20px;
      list-style: none;
      display: flex;
      align-items: center;
      margin: 10px 0;
      a{
        color: black;
        transition: 300ms ease-in-out;
        &:hover{
          color: #0D2D62;
        }
      }
    }

    li:before {
      display: block;
      content: '';
      background-color: #B80924;
      width: 35px;
      height: 3px;
      border-radius: 3px;
      margin-right: 7px;
    }

  }

}