.psychologist_wrapper{
  width: 100%;
  padding: 0 100px;
  .block_1{
    display: flex;
    flex-wrap: wrap;
    img{
      height: 400px;
      width: 350px;
      object-fit: cover;
      border-radius: 5px;
      margin-left: 70px;
    }
    .contacts{
      padding-left: 70px;
      span{
        content: '';
        display: block;
        padding: 7px 0;
        margin-bottom: 10px;
      }
    }
  }

  .block_2{
    p{
      margin-bottom: 15px;
    }
  }

  .block_3{
    p{
      margin-bottom: 15px;
    }
    .block_3_images{
      width: 100%;
      img{
        margin: 15px;
        width: 220px;
        height: 300px;
        object-fit: cover;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }

  .blocks{
    width: 100%;
    margin-bottom: 50px;
    h4{
      margin-bottom: 30px ;
    }
  }
}
