.link{
  text-emphasis-style: none;
  color: #1D2130;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  background: rgba(0,0,0,0.1);
  margin-bottom: 8px;
  cursor: pointer;
  transition: 300ms ease-in-out;
  &:hover{
    background: rgba(0,0,0,0.15);
  }
  .left{
    width: 15%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0,0,0,0.3);
  }
  .right{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
}

.active{
  background: rgba(0,0,0,0.2);
  color: #0e56f5;
}